body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background: repeating-linear-gradient(gold, blue);
}
h1{
    
    font-size: 7em;
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
    -webkit-text-fill-color: transparent;
     background-clip: text;
     text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}